/* change-password.component.css */
.sidebar {
  min-height: 100vh;
}

.max-width-500 {
  max-width: 500px;
}

.list-group-item {
  border: none;
  padding: 15px 20px;
}

.list-group-item.active {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border-color: transparent;
}

.breadcrumb {
  margin-bottom: 30px;
}

.form-control {
  padding: 10px;
}

.btn-danger {
  padding: 10px;
}