.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  .form-control {
    padding: 0.75rem;
    border-radius: 4px;
  }
  
  .btn-danger {
    padding: 0.5rem 2rem;
  }
  
  input.form-control {
    &::placeholder {
      color: #999;
    }
  }